

<mat-card >
<div>
  <span>Externalizacion - Consultar Servicio </span>
  <!-- <div class="buttonIdioma">
    <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu">Idiomas</button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>Castellano</button>
      <button mat-menu-item>Portugues</button>
      <button mat-menu-item>Ingles</button>
    </mat-menu>
  </div> -->
</div>
</mat-card>

<mat-card *ngIf="serviceById$ | async as servicios">
  <mat-card *ngFor="let servicio of servicios" class="">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ servicio.id }} - {{ servicio.name}}</mat-card-title>
      <mat-card-subtitle>Responsable : {{ servicio.responsable }}</mat-card-subtitle>
      <mat-card-subtitle>Negocio : {{ servicio.negocio }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</mat-card>


<!-- Tabla -->

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="excel-table">
  <!-- Position Column -->
  <ng-container matColumnDef="Se">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Se </th>
    <td mat-cell *matCellDef="let element"> {{element.Se}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Id_Actividad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id_Actividad </th>
    <td mat-cell *matCellDef="let element"> {{element.Id_Actividad}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Descripcion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actividades S. </th>
    <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
  </ng-container>


  <ng-container matColumnDef="Externalizacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Externalizacion </th>
    <td mat-cell *matCellDef="let element"> {{element.Externalizacion}} </td>
  </ng-container>

  <ng-container matColumnDef="Criticidad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Criticidad </th>
    <td mat-cell *matCellDef="let element"> {{element.Criticidad}} </td>
  </ng-container>

  <ng-container matColumnDef="Altia">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Altia </th>
    <td mat-cell *matCellDef="let element"> {{element.Altia}} </td>
  </ng-container>

  <ng-container matColumnDef="Indra">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Indra </th>
    <td mat-cell *matCellDef="let element"> {{element.Indra}} </td>
  </ng-container>

  <ng-container matColumnDef="Buttons" >
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let j = index;">
      <button mat-flat-button color='primary'  focusable="false" *ngIf = "rol">
        ELIMINAR
      </button>
      <button mat-flat-button routerLink="/newActividadExternalizacion"  color='primary'  focusable="false" *ngIf = "rol">
        MODIFICAR
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
</mat-paginator>

<div class="buttonsCrud">
  <div class="buttonsCrudModificarEliminar">
  <button   mat-flat-button color="primary" (click)="exportexcel()">EXPORTAR EXCEL</button>
  </div>
  <button   mat-flat-button color routerLink="/newActividadExternalizacion" color="primary" *ngIf = "rol">AÑADIR ACTIVIDAD</button>
</div>


<div class="atras" >
  <button  mat-flat-button routerLink="/" color="primary" >Atras</button>
  <!-- <div class="buttonsTableCrudModificarEliminar">
    <button  mat-flat-button color="primary" >Modificar seleccionado</button>
    <button  mat-flat-button color="primary" >Eliminar seleccionado</button>
  </div> -->
</div>

<div *ngIf="serviceById$ | async as servicios">
  <mat-nav-list>
    <a *ngFor="let servicio of servicios" mat-list-item >
      {{ servicio.id }}
      {{ servicio.name }}
      {{servicio.descripcion}}
      {{servicio.criticidad}}
      {{servicio.responsable}}
      {{servicio.negocio}}
    </a>
  </mat-nav-list>
</div>