table {
  width: 100%;
}

th, td{
  font-size: 14px;

}

mat-card-title{
  font-size: 20px;
}

mat-card-subtitle{
  font-size: 16px;
}

mat-card-content{
  font-size: 14px;
}

.mat-form-field {
  font-size: 14px;
  margin-inline-start: 20px;

}

// td > .mat-flat-button{

//     float: right;
//     margin-right: 10px;
//     margin-left: 10px
//   }

.mat-flat-button{

  float: right;
  margin-right: 10px;
  font-size: 14px;

}

.div-button{
  float: right;
  margin-right: 10px;
}

button{
  opacity: 100%;
  font-size: 14px;
  border-radius: 8px;
  margin: 3px;

}

.button-table {
  margin-top: 5px;
  //  background-color: orange;
  /* IMPORTANTE */
  float: right;
}

a {
  display: inline-block;
  margin-left: 5px;
}

.red-icon {
  color: red;
}

.red-icon svg {
  fill: red;
}
