<form>

<!-- <mat-card >
<div>
  <span>Externalizacion - Consultar Servicio </span>
  <div class="buttonIdioma">
    <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu">Idiomas</button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>Castellano</button>
      <button mat-menu-item>Portugues</button>
      <button mat-menu-item>Ingles</button>
    </mat-menu>
  </div>
</div>
</mat-card> -->

<div *ngIf="serviceById$ | async as servicios">
  <mat-card *ngFor="let servicio of servicios" class="">
    <mat-card-header>
      <mat-card-title>{{ servicio.id }} - {{ servicio.name}}</mat-card-title>
      <mat-card-subtitle>Criticidad : {{ servicio.criticidad }}</mat-card-subtitle>
      <mat-card-subtitle>Responsable : {{ servicio.responsable }}</mat-card-subtitle>
      <mat-card-subtitle>Negocio : {{ servicio.negocio }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
     {{servicio.descripcion}}
    </mat-card-content>
  </mat-card>
</div>


<!-- Tabla -->

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="excel-table">
  <!-- Position Column -->

  <!-- <ng-container matColumnDef="Se">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Se </th>
    <td mat-cell *matCellDef="let element" >  <input id="checkFollower" type="checkbox" ng-checked="leader" aria-label="Follower input"></td>
  </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="Id_Actividad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="less-width"> Id </th>
    <td mat-cell *matCellDef="let element" class="less-width"> {{element.Id_Actividad}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Descripcion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="most-width"> Actividades Servicio </th>
    <td mat-cell *matCellDef="let element" class="most-width"> {{element.Descripcion}} </td>
  </ng-container>


  <ng-container matColumnDef="Externalizacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="less-width"> Externalizacion </th>
    <td mat-cell *matCellDef="let element" class="less-width-body"> {{element.Externalizacion}} </td>
  </ng-container>

  <ng-container matColumnDef="Criticidad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="less-width"> Criticidad </th>
    <td mat-cell *matCellDef="let element" class="less-width-body"> {{element.Criticidad}} </td>
  </ng-container>

  <ng-container *ngFor="let empresa of empresas" matColumnDef="{{empresa.name}}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="less-width"> {{empresa.name}} </th>

    <td mat-cell *matCellDef="let element" class="less-width-body"><mat-checkbox color ="primary" [checked]="element.Empresas[empresa.id]"  [disabled]="true" ></mat-checkbox></td>
>
  </ng-container>


  <ng-container matColumnDef="Buttons" >
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-card-actions appearance="standard" class="button-table">
        <!-- <a>
          <mat-icon matTooltip="Ver Actividad del Servicio">
            visibility
          </mat-icon>
        </a> -->
        <!-- [routerLink]="['/newActividadExternalizacion', row.id]" -->
        <button mat-icon-button routerLink="/newActividadExternalizacion" *ngIf="rol" aria-label="editar-button">
          <mat-icon matTooltip="Editar Actividad del Servicio">
            create
          </mat-icon>
        </button>
        <button mat-icon-button [routerLink]="" *ngIf="rol" aria-label="eliminar-button">
          <mat-icon matTooltip="Eliminar Actividad del Servicio">
            <!-- clear -->
            delete
          </mat-icon>
        </button >
      </mat-card-actions>

    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
</mat-paginator>

<mat-card-actions appearance="standard" class="div-button">
  <button  mat-flat-button (click)="goBack()" color="primary" >ATRÁS</button>
  <button   mat-flat-button color="primary" (click)="exportexcel()">EXPORTAR EXCEL</button>
  <button   mat-flat-button routerLink="/newActividadExternalizacion" color="primary" *ngIf = "rol">AÑADIR ACTIVIDAD</button>
</mat-card-actions>

</form>


