table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  margin-inline-start: 20px;

}

// td > .mat-flat-button{
  
//     float: right;
//     margin-right: 10px;
//     margin-left: 10px
//   }
  
.mat-flat-button{

  float: right;
  margin-right: 10px;
}

.div-button{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
  
button{
    opacity: 100%;
    font-size: 14px;
    border-radius: 8px;
    margin: 3px;
}
.atras{
  margin-top: 30px;
  margin-right: 90%;
  
}