

<br/>
<form>
  <mat-form-field >
      <mat-label>Id</mat-label>
        <input matInput placeholder="Id"/>

  </mat-form-field>
  <mat-form-field>
      <mat-label>Sistema de información</mat-label>
        <input matInput placeholder="Sistema de información"/>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Criticidad</mat-label>
    <mat-select >
      <mat-option value="Todo"></mat-option>
      <mat-option value="Si">Si</mat-option>
      <mat-option value="No">No</mat-option>
    </mat-select>
</mat-form-field>
<mat-card-actions appearance="standard" class="mat-flat-button">
  <button mat-flat-button color="primary">LIMPIAR</button>
  <button mat-flat-button color="primary">BUSCAR</button>
</mat-card-actions>
</form>
<br/>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <!-- Columna Id -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let sistema"> {{sistema.id}} </td>
  </ng-container>


  <!-- Columna Sistema de informacion -->
  <ng-container matColumnDef="sistemaInformacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sistema de informacion </th>
    <td mat-cell *matCellDef="let sistema"> {{sistema.sistemaInformacion}} </td>
  </ng-container>


  <!-- Columna criticidad -->
  <ng-container matColumnDef="criticidad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Criticidad </th>
    <td mat-cell *matCellDef="let sistema"> {{sistema.criticidad}} </td>
  </ng-container>


  <ng-container matColumnDef="borrar" >
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let j = index;">
        <button mat-flat-button color='primary'  focusable="false" >
          ELIMINAR
        </button>
        <button mat-flat-button color='primary'  focusable="false" >
          MODIFICAR
        </button>
      </td>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>


</table>

<br/>
<mat-card-actions appearance="standard" class="div-button">
  <button mat-flat-button routerLink="newSistema" color='primary'>AÑADIR SISTEMA</button>
</mat-card-actions>
  











