

<form [formGroup]="actSistemasSearch" novalidate (ngSubmit)="SearchSistemas()">
  <div class="row">
    <div class="flex-container">
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput formControlName="id_sistema" placeholder="Id" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sistema de información</mat-label>
        <input
          matInput
          formControlName="name_sistema"
          placeholder="Sistema de información"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Criticidad</mat-label>
        <mat-select formControlName="criticidad_sistema">
          <mat-option value="Todo"></mat-option>
          <mat-option value="Si">Si</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions appearance="standard" class="button-search">
        <!-- <button mat-icon-button class="a-search" aria-label="search-button">
          <mat-icon matTooltip="Buscar" (click)="SearchSistemas()">
            search
          </mat-icon>
        </button>
        <button mat-icon-button class="a-search" aria-label="reset-button">
          <mat-icon matTooltip="Limpiar Filtros" (click)="onReset()">
            delete
          </mat-icon>
        </button> -->
        <button mat-flat-button color="primary" (click)="onReset()">LIMPIAR</button>
        <button mat-flat-button color="primary" (click)="SearchSistemas()">BUSCAR</button>


      </mat-card-actions>
    </div>
  </div>
</form>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="excel-table">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Columna Id -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="less-width">ID</th>
    <td mat-cell *matCellDef="let sistema" class="less-width">{{ sistema.id }}</td>
  </ng-container>

  <!-- Columna Sistema de informacion -->
  <ng-container matColumnDef="sistemaInformacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="most-width">
      Sistema de informacion
    </th>
    <td mat-cell *matCellDef="let sistema" class="most-width">{{ sistema.sistemaInformacion }}</td>
  </ng-container>

  <!-- Columna criticidad -->
  <ng-container matColumnDef="criticidad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="less-width">Criticidad</th>
    <td mat-cell *matCellDef="let sistema" class="less-width">{{ sistema.criticidad }}</td>
  </ng-container>

  <ng-container matColumnDef="borrar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let a">
      <mat-card-actions class="button-table">
        <button mat-icon-button [routerLink]="['/sistemas/verSistema', a.id]" aria-label="ver-button">
          <mat-icon matTooltip="Ver Sistema">
            visibility
          </mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/sistemas/editSistema', a.id]"  *ngIf="rol" aria-label="editar-button">
          <mat-icon matTooltip="Editar Sistema">
            create
          </mat-icon>
        </button>
        <button mat-icon-button [routerLink]="" *ngIf="rol" aria-label="eliminar-button">
          <mat-icon matTooltip="Eliminar Sistema">
            <!-- clear -->
            delete

          </mat-icon>
        </button>
      </mat-card-actions>
      <!-- <button mat-flat-button color="primary" focusable="false" *ngIf="rol">
        ELIMINAR
      </button>
      <button
        mat-flat-button
        routerLink="newSistema"
        color="primary"
        focusable="false"
        *ngIf="rol"
      >
        MODIFICAR
      </button>
      <button
        mat-flat-button
        focusable="false"
        [routerLink]="['/sistemas/verSistema', a.id]"
      >
        VER SISTEMA
      </button> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas"></tr>
</table>
<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = $event"
>
</mat-paginator>

<mat-card-actions appearance="standard" class="div-button">
  <button mat-flat-button color="primary" (click)="exportexcel()">
    EXPORTAR EXCEL
  </button>
  <button mat-flat-button routerLink="newSistema"  color="primary" *ngIf="rol">
    AÑADIR SISTEMA
  </button>
</mat-card-actions>
