
.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-container > mat-form-field {
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.all-width {
  width: 90%;
}

.width-radio {
  width: 15%;
}


.title-text{
  font-size: 20px;
}

label{
  margin-top: 45px;
  margin-left: 45px;
  margin-right: 19px;
}

.check-section {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin-right: 10px;
  padding-left: 0;
  width:40%;
}

.check-section mat-checkbox {
  list-style: none;
  // flex: 1 1 18%;
  // flex: 0 0 33.333333%;
  flex: 0 0 50%;
}


.check-margin{
  margin: 0 19px;
  font-size: 16px;
  float: left;
}

.div-button{
  float: right;
  margin-right: 10px;
}

button{
  opacity: 100%;
  font-size: 14px;
  border-radius: 8px;
  margin: 3px;
}
