<form [formGroup]="actExternalizacionForm" novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title-text"
        >Nueva/Modificar Actividad de Servicio</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-divider></mat-divider>

      <div class="row">
        <div class="flex-container">
          <mat-form-field appearance="standard" class="most-width">
            <mat-label>Actividad del Servicio</mat-label>
            <input matInput formControlName="actividadServicio_es"/>
            <mat-error
            *ngIf="actExternalizacionForm.controls['actividadServicio_es'].hasError('required')"
          >
            Este campo es <strong>obligatorio</strong>
          </mat-error>
          </mat-form-field>

            <label>Servicio seleccionado</label>
        </div>
      </div>

      <div class="row">
        <div class="flex-container">
          <mat-form-field appearance="standard" class="most-width">
            <mat-label>Service Activity</mat-label>
            <input matInput formControlName="actividadServicio_en"/>
            <mat-error
            *ngIf="actExternalizacionForm.controls['actividadServicio_en'].hasError('required')"
          >
            Este campo es <strong>obligatorio</strong>
          </mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" class="less-width">
            <mat-label>Criticidad</mat-label>
            <mat-select formControlName="criticidad">
              <mat-option value="a">A</mat-option>
              <mat-option value="b">B</mat-option>
              <mat-option value="c">C</mat-option>
            </mat-select>
            <mat-error
            *ngIf="actExternalizacionForm.controls['criticidad'].hasError('required')"
          >
          Es <strong>obligatorio</strong> seleccionar una opción
          </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="flex-container">
          <mat-form-field appearance="standard" class="text-width">
            <mat-label>Descripción</mat-label>
            <textarea
              matInput
              matTextareaAutosize
              matAutosizeMinRows="5"
              matAutosizeMaxRows="10"
              formControlName="descripcion_es"
            ></textarea>
            <mat-error
            *ngIf="actExternalizacionForm.controls['descripcion_es'].hasError('required')"
          >
            Este campo es <strong>obligatorio</strong>
          </mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" class="text-width">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              matTextareaAutosize
              matAutosizeMinRows="5"
              matAutosizeMaxRows="10"
              formControlName="descripcion_en"
            ></textarea>
            <mat-error
            *ngIf="actExternalizacionForm.controls['descripcion_en'].hasError('required')"
          >
            Este campo es <strong>obligatorio</strong>
          </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="flex-container">
          <mat-form-field appearance="standard" class="width-radio">
            <mat-label>Externalizado</mat-label>
            <mat-select formControlName="externalizado" >
              <mat-option value="si" (click)="onClickSelect(true)">SÍ</mat-option>
              <mat-option value="no" (click)="onClickSelect(false)">NO</mat-option>
            </mat-select>
            <mat-error
            *ngIf="actExternalizacionForm.controls['externalizado'].hasError('required')"
          >
            Es <strong>obligatorio</strong> seleccionar una opción
          </mat-error>
          </mat-form-field>


          <label>Empresas de externalización</label>
            <section class="check-section">
              <mat-checkbox color="primary" class="check-margin"
              [disabled]="disabledCheck"
              *ngFor="let empresa of empresas" [value]="empresa.id">
              {{ empresa.name }}
            </mat-checkbox>
            </section>
        </div>
      </div>

    </mat-card-content>

    <mat-card-actions appearance="standard" class="div-button">
      <button mat-flat-button color="primary" [disabled]="actExternalizacionForm.invalid">GUARDAR</button>
      <button mat-flat-button color="primary">CANCELAR</button>
    </mat-card-actions>

  </mat-card>
</form>
