<form action="">
  <mat-form-field>
    <mat-label> Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: STI02">
  </mat-form-field>
  <mat-card-actions appearance="standard" class="">
    <button mat-flat-button color="primary">BUSCAR</button>
    <button mat-flat-button color="primary">LIMPIAR</button>
  </mat-card-actions>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Servicio Tecnológico -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Servicio Tecnológico </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <!-- Criticidad Column -->
    <ng-container matColumnDef="criticidad">
      <th mat-header-cell *matHeaderCellDef> Criticidad </th>
      <td mat-cell *matCellDef="let element"> {{element.criticidad}} </td>
    </ng-container>

    <!-- Responsable Column -->
    <ng-container matColumnDef="responsable">
      <th mat-header-cell *matHeaderCellDef> Responsable </th>
      <td mat-cell *matCellDef="let element"> {{element.responsable}} </td>
    </ng-container>

    <!-- Negocio Column -->
    <ng-container matColumnDef="negocio">
      <th mat-header-cell *matHeaderCellDef> Negocio </th>
      <td mat-cell *matCellDef="let element"> {{element.negocio}} </td>
    </ng-container>

    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="boton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-card-actions appearance="standard" class="">
          <button mat-flat-button color="primary">MODIFICAR</button>
          <button mat-flat-button color="primary">ELIMINAR</button>
        </mat-card-actions>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-card-actions appearance="standard" class="div-button">
    <button mat-flat-button routerLink="/catalogo" color="primary" >AÑADIR SERVICIO</button>
  </mat-card-actions>
</form>
