<form action="">
  <div class="row">
    <div class="flex-container">
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Servicio Tecnológico</mat-label>
        <input matInput placeholder="Servicio Tecnológico" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Criticidad</mat-label>
        <mat-select>
          <!-- <mat-option value="Todo"></mat-option> -->
          <mat-option value="Si">Si</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Responsable</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let responsable of responsables"
            [value]="responsable.id"
          >
            {{ responsable.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Negocio</mat-label>
        <input matInput placeholder="Negocio" />
      </mat-form-field>
      <mat-card-actions appearance="standard" class="button-search">
        <a class="a-search" >
          <mat-icon matTooltip="Buscar">
            search
          </mat-icon>
        </a>
        <a class="a-search">
          <mat-icon matTooltip="Limpiar Filtros">
            delete
          </mat-icon>
        </a>
        <!-- <button mat-flat-button color="primary">LIMPIAR</button>
        <button mat-flat-button color="primary">BUSCAR</button> -->
      </mat-card-actions>
    </div>
  </div>

  <!-- tabla -->

  <table
    mat-table
    matSort
    id="excel-table"
    *ngIf="serviciosList$ | async as serviciosList"
    [dataSource]="serviciosList"
  >
    <!-- Id Column -->

        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="less-width"
          >
            ID
          </th>
          <td mat-cell *matCellDef="let row" class="less-width">
            {{ row.id }}
          </td>
        </ng-container>


    <!-- Servicio Tecnológico -->

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="most-width"
          >
            Servicio Tecnológico
          </th>
          <td mat-cell *matCellDef="let row" class="most-width">
            {{ row.name }}
          </td>
        </ng-container>


    <!-- Descripcion Column -->

        <ng-container matColumnDef="descripcion">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="most-width"
          >
            Descripcion
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            class="descripcionColumn"
            class="most-width"
          >
            {{ row.descripcion }}
          </td>
        </ng-container>


    <!-- Criticidad Column -->

        <ng-container matColumnDef="criticidad">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="less-width"
          >
            Criticidad
          </th>
          <td mat-cell *matCellDef="let row" class="less-width">
            {{ row.criticidad }}
          </td>
        </ng-container>


    <!-- Responsable Column -->

        <ng-container matColumnDef="responsable">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="medium-width"
          >
            Responsable
          </th>
          <td mat-cell *matCellDef="let row" class="medium-width">
            {{ row.responsable }}
          </td>
        </ng-container>


    <!-- Negocio Column -->

        <ng-container matColumnDef="negocio">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="medium-width"
          >
            Negocio
          </th>
          <td mat-cell *matCellDef="let row" class="medium-width">
            {{ row.negocio }}
          </td>
        </ng-container>


    <!-- Botones Column -->

        <ng-container matColumnDef="boton">
          <th mat-header-cell *matHeaderCellDef mat-sort-header ></th>
          <td mat-cell *matCellDef="let row">
            <mat-card-actions class="button-table">
              <a [routerLink]="['/externalizacion', row.id]">
                <mat-icon matTooltip="Ver Externalización">
                  visibility
                </mat-icon>
              </a>
              <a [routerLink]="['/modCatalogo', row.id]" *ngIf="rol">
                <mat-icon matTooltip="Editar Servicio">
                  create
                </mat-icon>
              </a>
              <a [routerLink]="" *ngIf="rol">
                <mat-icon class="red-icon" matTooltip="Eliminar Servicio">
                  clear
                </mat-icon>
              </a>
              <!-- <button mat-flat-button routerLink="/externalizacion" color="primary" >VER EXTERNALIZACION</button> -->
              <!-- <button mat-flat-button color="primary" *ngIf = "rol">ELIMINAR</button> -->
              <!-- <button mat-flat-button [routerLink]="['/modCatalogo', row.id]" color="primary" *ngIf = "rol">MODIFICAR</button> -->
            </mat-card-actions>
          </td>
        </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event"
  >
  </mat-paginator>

  <!-- Boton export Excel & add service-->
  <mat-card-actions appearance="standard" class="div-button">
    <button mat-flat-button color="primary" (click)="exportexcel()">
      EXPORTAR EXCEL
    </button>
    <button mat-flat-button routerLink="/catalogo" color="primary" *ngIf="rol">
      AÑADIR SERVICIO
    </button>
  </mat-card-actions>
</form>
