<mat-toolbar color="primary" class="app_header">
  <span routerLink="home">VNTR - Inventario Sistemas</span>
  <span class="toolbar-space"></span>

  <button mat-button [matMenuTriggerFor]="menuIdioma">Idioma</button>
  <mat-menu #menuIdioma="matMenu" xPosition="after">
    <button mat-menu-item>ES</button>
    <button mat-menu-item>EN</button>
    <button mat-menu-item>PT</button>
  </mat-menu>

  <!-- <mat-icon [matMenuTriggerFor]="menuLogin" class="toolbar-icon">account_circle</mat-icon> -->
  <button mat-icon-button class="toolbar-icon" aria-label="Login button">
    <mat-icon [matMenuTriggerFor]="menuLogin" >account_circle</mat-icon>
  </button>
  <mat-menu #menuLogin="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/login">Login</button>
  </mat-menu>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ link.label }}
  </a>
</nav>
<router-outlet></router-outlet>
<!-- <mat-tab-group>
  <mat-tab label="Catalogo de Servicios" routerLink="home"> <abanca-login></abanca-login>  </mat-tab>
  <mat-tab label="Sistemas de Informacion" routerLink="sistemas"> <abanca-sistemas></abanca-sistemas> </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet> -->
