@import url('//cdn.abanca.io/assets/fonts/roboto.css');
.app_header {
  font-family: 'Roboto', sans-serif;
}

.toolbar-icon {
  margin-left: 19px;
  margin-right: 19px;
}

.toolbar-space {
  flex: 1 1 auto;
}
