<mat-toolbar color="primary">
  <mat-toolbar-row class="app_header">
    
    <span routerLink="home">VNTR - Inventario Sistemas</span>
    <span class="toolbar-space"></span>
    <div class="nav-user">
      <abanca-user-info></abanca-user-info>
    </div>

    <div class="nav-user">
      <span class="material-icons toolbar-icons">account_circle</span>
      <span class="material-icons">
        arrow_drop_down
      </span>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>
<!-- <mat-tab-group>
  <mat-tab label="Catalogo de Servicios" routerLink="home"> <abanca-login></abanca-login>  </mat-tab>
  <mat-tab label="Sistemas de Informacion" routerLink="sistemas"> <abanca-sistemas></abanca-sistemas> </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet> -->



